<% locality = @locality %>
<%= render partial: "locality", object: locality %>

<%= link_to 'Rate this City!', new_locality_issue_path(@locality) %>

<% @locality.issues.reverse.each do |issue| %>
  <h5><%= link_to "#{issue.title}", issue_path(issue) %></h5>
  Rating:<%= issue.rating %>
  <p> <%= issue.body%></p>
  <tr>
    <td><%= link_to 'Show', issue_path(issue) %></td>
    <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
    <td><%= link_to 'Delete', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

<% end %>
